[Unit]
Description=OpenVPN tunnel on %I
Requires=openvpn.target
After=openvpn.target
PropagateReloadFrom=openvpn.target

[Service]
Type=forking
PrivateTmp=true
EnvironmentFile=-/etc/sysconfig/openvpn
PIDFile=/var/run/openvpn/%i.pid
ExecStart=/usr/sbin/openvpn --daemon --writepid /var/run/openvpn/%i.pid --config /etc/openvpn/%i.conf --cd /etc/openvpn $OPENVPN_OPT
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=openvpn.target
